# Flutter
**/.dart_tool/
**/build/
**/build_mobile/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Node
**/node_modules/

# Python
**/__pycache__/
**/*.pyc
**/venv/
**/.env

# Android
**/.gradle/

# macOS
**/.DS_Store

# Logs
*.log
debug.txt
debug_stderr.txt
output.json
uploads/